<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetFax | Add Your Own Fun Fact</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1 class="font_title">Add Your Own Fact!</h1>
    <form action="/facts" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" />
      <br />
      <label for="fact">Fact:</label>
      <input type="text" name="fact" />
      <br />
      <input type="submit" value="Submit" />
    </form>
    <a href="/pets">Go back to Pets</a>
  </body>
</html>
